$primary-color: #00aa55;
$primary-color-light: #5ea180;
$secondary-color: #262626;
$third-color: #f19b00;
$error-color: rgb(240, 58, 58);
$bg-color: #ececec;
$text-color-grey: #586665;
$white-color: #ffff;
$shadow-color-primary: rgba(0, 170, 85, 0.3);
$bg-gradient: linear-gradient(
  138deg,
  rgba(0, 170, 85, 1) 0%,
  rgba(0, 170, 85, 1) 7%,
  rgba(2, 162, 82, 1) 31%,
  rgba(16, 115, 65, 1) 60%,
  rgba(38, 38, 38, 1) 94%
);
$bg-gradient-2: linear-gradient(
  320deg,
  rgba(0, 170, 85, 1) 0%,
  rgba(0, 170, 85, 1) 7%,
  rgba(2, 162, 82, 1) 31%,
  rgba(16, 115, 65, 1) 60%,
  rgba(38, 38, 38, 1) 94%
);
