@use "../../variables" as v;

.footer {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    170deg,
    rgba(58, 56, 56, 0.623) 0%,
    rgb(31, 31, 31) 100%
  );
  height: 100%;
  flex-basis: 15%;
  justify-content: space-around;
  align-items: center;
  color: var(--footer-blue);
  padding: 5px;

  p {
    font-size: 0.8rem;
    text-align: center;
    margin: 10px 0px;
    color: #2c1886;
    a {
      color: #8d1717;
      text-decoration: none;
    }
  }

  // @media only screen and (min-width: 800px) {
  //   flex-direction: row;
  //   justify-content: space-evenly;
}
