@use "../../variables" as v;

.dashboard_container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  .dashboard_left {
    display: flex;
    flex-basis: 75%;
    overflow: scroll;
  }

  .dashboard_right {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    background-color: v.$white-color;
    padding: 10px;
    border-radius: 10px;
    min-height: 100%;
    max-height: 89vh;
  }
}
