@use "../../../variables" as v;
.users_search {
  width: 100%;
  height: fit-content;
  position: relative;
  margin-bottom: 10px;
  padding: 0px 10px;
  input {
    padding: 10px 40px 10px 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #d7d7d7;
    width: 100%;
  }
  span {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    color: #d7d7d7;
  }
}
.users-loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users_list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
  .user {
    display: flex;
    margin: 10px 0px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    text-decoration: none;
    &:hover {
      background-color: #eeeeee;
    }
    .user_avatar {
      display: flex;
      flex-basis: 20%;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-right: 5px;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .user_info {
      display: flex;
      flex-basis: 80%;
      flex-direction: column;

      h4 {
        font-size: 0.9rem;
        margin: 0;
        color: v.$text-color-grey;
      }
      p {
        font-size: 0.8rem;
        color: #d7d7d7;
        margin: 0;
      }
    }
  }
}
